extends layout

block content
  h1 Name: #{item.name}
  if item.image
      img(src=item.imageUrl, alt="")
  p #[strong Description:] #{item.description}
  p #[strong Price:] $ #{item.price}
  p #[strong In Stock:] #{item.numberInStock}
  p #[strong Category:]&nbsp;
    each val, index in item.category
      a(href=val.url) #{val.name}
      if index < item.category.length - 1
        |, 
  

    hr
    p
      a.btn.btn-danger(href=item.url+'/delete') Delete Item
    p
      a.btn.btn-info(href=item.url+'/update') Update Item